<!-- about.erb -->
<!DOCTYPE html>
<html>

<body>
			<div class="container">
			<div class="row">
				<div class="hero-image">
					<h1> ACME is here to help and handle all crisis.</h1>
				</div>
			</div>

			<div class="row">
			<div class="row3">
				<div class="six left">
					<h3>Bullied</h3>
				</div>
				<div class="three middle">
					<h3>Frustration</h3>
				</div>
				<div class="three right">
					<h3>Suicide</h3>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="row4">
				<div class="three left">
					<h4>Depression</h4>
				</div>
				<div class="six middle">
					<h4>Alone</h4>
				</div>
				<div class="three right">
					<h4>Lost</h4>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="row5">
				<div class="four left">
					<h2> Live Again and Be Happy</h2>
				</div>
				<div class="four middle">
					<h2>Be Free</h2>
				</div>
				<div class="four middleright">
					<h2>Be Loved</h2>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="last">
			</div>
			</div>

		</div>

</body>
</html>