<!-- home.erb -->
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
</head>
<body>
	<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay loop muted>
	<source	src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
	<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
	</video>
<article class = "text" >
	<p>Established in 1987, ACME is a voluntary health organization that gives those affected by suicide a nationwide community empowered by research, education and advocacy to take action against this leading cause of death.
	</p>
	<p>
	ACME is dedicated to saving lives and bringing hope to those affected by suicide.  ACME creates a culture that’s smart about mental health by engaging in the following core strategies.Funding scientific research, developing public education,
	advocating for public policies in mental health and suicide prevention supporting survivors of suicide loss and those affected by suicide in our mission.
	</p>
	<p>Led by CEO Selcuk Erol and headquartered in New York, and with a public policy office in Washington, D.C., ACME has local chapters in all 50 states with programs and events nationwide. ACME celebrates 30 years of service to the suicide prevention movement. Learn more about ACME in its latest Annual Report, and join the conversation on suicide prevention by following ACME on <a>Facebook</a>, <a>Twitter</a>, <a>Instagram</a>, and <a>YouTube</a>.
	</p>
	<p>Many of our original founders were concerned about an alarming rise in youth suicide over the previous four decades. During this period, the suicide of young men had tripled while for young women it had doubled. Suicide is currently the third leading cause of death among young people age 15 to 24. The highest overall rates of suicide are for adults age 40 to 59.
	</p>
</article>
<div id="polina">
	<button>Pause</button>
</div>
</body>
</html>