<!-- work.erb -->
<!DOCTYPE html>
<html>
<head>
	<title>WORK</title>
</head>
<body>
<div id = "work">	
</div>
<article class = "text" >
	<h3>We are the largest private funder of suicide prevention research</h3>
	<p>ACME began as a research organization dedicated to finding the best ways to prevent suicide, and thanks to donors like you we’ve been able to fund millions in research across multiple scientific disciplines..
	</p>
	<h3>Much of what we know about suicide comes from studies we've funded</h3>
	<p>
	Our studies open up new areas of inquiry, and our council of scientific advisers helps set the national research agenda.
	</p>
	<h3>Help us find better ways to prevent suicide</h3>
	<p>We fund studies across multiple disciplines at all levels of investigation..
	</p>
	<h3>This is the story of suicide research</h3>
	<p>Findings from our studies have increased our understanding of suicide and shaped prevention efforts around the world..
	</p>
</article>
</body>
</html>

