body {
margin: 0;
background: #000; 
}
video { 
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg') no-repeat;
background-size: cover;
transition: 1s opacity;
opacity: 0.6;
}
.stopfade { 
   opacity: .1;
}
#polina button { 
  display: block;
  width: 10%;
  background: none;
  color: rgb(255,255,255);
  margin-left: 20px;
  padding: 15px;
  border-style: none;
  border-color: none;
}
.text {
  font-family: "Courier New", Courier, monospace;
  font-weight:100; 
  color: white;
  padding: 50px;
  width: 80%;
  margin-left: 150px;
  margin-top: 60px;
  font-size: 1.25em;
  text-align: justify;
}
.navbar {
    list-style-type: none;
    margin: -4px;
    padding: -6px;
    overflow: hidden;
    background-color: none;
    }
    .navbar img {
            margin-top: 30px;
            margin-right: 60px;
            float: right;    
    }
    .navbar li {
            float: left;
            margin-right: 60px;
    }
    .navbar li a {
           font-family: "Courier New", Courier, monospace;
           font-size: 1.0em;
           display: inline-block;
           color: rgb(255,255,255);
           text-align: center;
           padding: 34px 26px;
           text-decoration: none;
    }
     /*.navbar li */
     a:hover {
               background-color: rgba(255,255,255,0.23);
               cursor: pointer;
               transition: .3s background;
    }
#work {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
background-image: url("/images/smile.jpg");
background-size: cover;
opacity: 0.5;
}
#contact {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translateX(-50%) translateY(-50%);
background-image: url("/images/contact.jpg");
background-size: cover;
opacity: 0.8;  
}
.wrapper {
  max-width:500px;
  width:95%;
  margin:0 auto;
  position:relative;
}
#main{
  margin-top: 0px;
  z-index: 100;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
  font:400 12px/12px "Arial", sans-serif;
}
#contact-form {
  text-shadow:0 1px 0 #FFF;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  background:#ffffff;
  padding:25px;
}
#contact-form h3 {
  color:#000000;
  display:block;
  font-size:28px;
}
#contact-form h4 {
  color:#000000;
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}
#contact-form label span {
  cursor:pointer;
  color:#000000s;
  display:block;
  margin:5px 0;
  font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width:450px;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
  width:450px;
}
#contact-form textarea {
  height:100px;
  max-width:100%;
  width:500px;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#666666;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
}
#contact-form button[type="submit"]:hover {
  background-image:linear-gradient(bottom, #888888 0%, #777777 52%);
  background-image:-moz-linear-gradient(bottom, #888888 0%, #777777 52%);
  background-image:-webkit-linear-gradient(bottom, #888888 0%, #777777 52%);
  transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
#confirm {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  text-align: center;  
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
.container {
  width: 1400px; 
  margin-right: auto;
  margin-left: auto; 
}
.seven:first-child,.eight:first-child, .nine:first-child, .ten:first-child,.eleven:first-child,.five:first-child, .four:first-child, .three:first-child, .two:first-child, .six:first-child { 
  margin-left: 0; 
}
.six {
  width: 49%; 
  float: left;
  margin-left: 1.6%;
}
.four {
  width: 32%;
  float:left;
  margin-left: 1.6%;
}
.three {
  width: 23.5%;
  float:left;
  margin-left: 1.6%;
}
.two {
  width: 15%;
  float:left;
  margin-left: 1.6%;

}

.row {
  width: 100%;
  clear: both; 
  padding-top: 15px;
  margin: 0px;
}
.nav{
  width:100%;
  height: 80px;
  margin:0;
  padding: 0;
  list-style-type: none;
}
.hero-image{
  background:url("/images/sadman.jpg"); no-repeat center center fixed;
  color: white; 
  height: 510px;
  background-color: #666666;
  background-size: 100% 100%;
    background-repeat: no-repeat;
}
.row3 .six, .row3 .three{
  height: 333px;
}
.row3 .left {
  background:url("/images/sadboy.jpg"); no-repeat center center fixed; 
   color: white; 
  -webkit-background-size:un cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row3 .middle {
  background: url("/images/sadman.jpg"); no-repeat center center fixed; 
   color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row3 .right {
  background: url("/images/sadgun2.jpg"); no-repeat center center fixed; 
   color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row4 .three, .row4 .six{
  height: 333px;
}
.row4 .left {
  background: url("/images/depressedman.jpg"); no-repeat center center fixed; 
   color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row4 .middle {
  background: url("/images/sad man2.jpg"); no-repeat center center fixed; 
   color: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row4 .right {
  background: url("/images/sadlady.jpg"); no-repeat center center fixed;
   color: white;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
.row5 .two, .row5 .four{
  height: 333px;
}

.row5 .left {
  background: url("/images/happy1.jpg"); no-repeat center center fixed; 
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row5 .middle {
  background: url("/images/happy3.jpg"); no-repeat center center fixed; 
   color: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row5 .middleright {
  background: url("/images/happy2.jpg"); no-repeat center center fixed; 
  color: red;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}    